{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
   {{ title }}
{% endblock %}

{% block content %}
    <div className="App">


      <section class="hero">
          <div class="hero-content">
              <h1>Welcome to My Website</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="btn">Learn More</a>
          </div>
      </section>

      <section class="features">
          <div class="feature">
              <img src="{% static 'main/img/1.jpg' %}" alt="Feature 1"/>
              <h2>Feature 1</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

          <div class="feature">
              <img src="{% static 'main/img/2.jpg' %}" alt="Feature 2"/>
              <h2>Feature 2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

          <div class="feature">
              <img src="{% static 'main/img/3.jpg' %}" alt="Feature 3"/>
              <h2>Feature 3</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </section>

      <footer>
          <p>&copy; 2024 My Website. All rights reserved.</p>
      </footer>
    </div>
{#    {% include 'main/test.html' %}#}
{% endblock %}